/* element styles */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(44, 44, 44);
    color: white;
    margin: auto;
    text-align: center;
    font-family: monospace;
}
p {
    margin: 30px;
    text-align: justify;
    text-justify: inter-word;
}

/* class styles */
.nav-bar {
    height: 54px;
    width: 100%;
    background-color: rgba(108, 80, 93, 1);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}
.nav-list {
    list-style: none;
    display: flex;
}
.site-logo {
    display: inline-block;
}
.site-logo img {
    vertical-align: middle;
}
.nav-item .btn {
    list-style: none;
    line-height: 34px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.nav-item .btn:hover {
    background-color: rgb(253, 235, 243);
    color: rgba(108, 80, 93, 1);
}

/* id styles */

/* responsive design */
@media screen and (max-width: 600px) {
    ul.nav-list {
        flex-direction: column;
    }
    ul.nav-list .nav-item {
        border-top: 1px solid white;
        border-left: none;
    }
    ul.nav-list .nav-item:first-child {
        border-top: none;
        border-left: none;
    }
    ul.nav-list .nav-item:last-child {
        /* border-bottom: 1px solid white; */
        border-left: none;
    }
}
