/* element styles */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(44, 44, 44);
    color: white;
    margin: auto;
    text-align: center;
    font-family: monospace;
}
p {
    margin: 30px;
    text-align: justify;
    text-justify: inter-word;
}

/* class styles */
.logo-icon {
    padding: 10px;
    float: left;
    border-left: none;
    text-decoration: none;
}
.nav-bar {
    width: 100%;
    background-color: rgba(108, 80, 93, 1);
    padding-left: 30px;
    padding-right: 10px;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(108, 80, 93, 1);
    top: 0;
    text-align: center;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#site-logo {
    display: inline-block;
    border-left: none;
}
.nav-list > #home-button {
    order: 1;
}
.nav-list > #about-button {
    order: 2;
}
.nav-list > #contact-button {
    order: 3;
}
.nav-item {
    list-style: none;
    border-left: 1px solid white;
}
.nav-item .btn {
    text-decoration: none;
    display: block;
    color: rgb(204, 204, 204);
    text-align: center;
    padding: 8px 16px;
}
.nav-item .btn:hover,
.nav-item .btn:active {
    background-color: #ff7171;
    color: white;
    text-decoration: none;
}

/* id styles */

/* responsive design */
@media screen and (max-width: 600px) {
    ul.nav-list {
        flex-direction: column;
    }
    ul.nav-list .nav-item {
        border-top: 1px solid white;
        border-left: none;
    }
    ul.nav-list .nav-item:first-child {
        border-top: none;
        border-left: none;
    }
    ul.nav-list .nav-item:last-child {
        /* border-bottom: 1px solid white; */
        border-left: none;
    }
}
