/* element styles */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(44, 44, 44);
    color: white;
    margin: auto;
    text-align: center;
    font-family: monospace;
}
p {
    margin: 30px;
    text-align: justify;
    text-justify: inter-word;
}

/* class styles */
.nav-bar {
    /* position: fixed; */
    height: 54px;
    /* width: 100%; */
    width: device-width;
    background-color: rgba(108, 80, 93, 1);
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}
.nav-list {
    list-style: none;
    display: flex;
}
.site-logo {
    display: inline-block;
    text-decoration: none;
    color: whitesmoke;
    font-size: larger;
    font-weight: bold;
    font-family: monospace;
}
.site-logo:hover {
    color: lightblue;
}
.site-logo img {
    vertical-align: middle;
}
.nav-item .btn {
    list-style: none;
    line-height: 34px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.nav-item .btn:hover {
    background-color: rgb(253, 235, 243);
    color: rgba(108, 80, 93, 1);
}
.home-section {
    display: grid;
    align-items: center;
    justify-content: center;
}

/* id styles */
#cy-intro {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    /* grid-template-areas:
        "cy-name cy-dp"
        "tag-line cy-dp"; */
    align-items: center;
    justify-content: center;
    text-align: right;
}
#cy-name {
    grid-area: cy-name;
    font-size: 48px;
    align-self: end;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
#tag-line {
    grid-area: tag-line;
    font-size: 32px;
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#cy-dp {
    grid-area: cy-dp;
    padding-left: 80px;
    border-left: 2px solid whitesmoke;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

/* responsive design */
@media screen and (max-width: 600px) {
    ul.nav-list {
        flex-direction: column;
    }
    ul.nav-list .nav-item {
        border-top: 1px solid white;
        border-left: none;
    }
    ul.nav-list .nav-item:first-child {
        border-top: none;
        border-left: none;
    }
    ul.nav-list .nav-item:last-child {
        /* border-bottom: 1px solid white; */
        border-left: none;
    }
}
